@font-face {
    font-family: Tahoma;
    src: local(Tahoma) url(".../Windows/Fonts/tahoma.ttf");
}

@font-face {
    font-family: "Engravers MT";
    src: local("Engravers MT") url(".../Windows/Fonts/engr.ttf");
}

@font-face {
    font-family: Verdana;
    src: local(Verdana) url(".../Windows/Fonts/verdana.ttf");
}

caption{
    font-size: 25px;
    margin-bottom: 25px;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 800;
}

table, td, th{
    border: 2px solid #b5bbc1;
    padding: 0.75rem;
    vertical-align: middle;
    border-collapse: collapse;
    text-align: center;
}

td{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
}

th{
    font-size: 18px;
    font-family: "Engravers MT";
}

